body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(car.png.jpeg);
}
.header{
  display: flex;
  justify-content: space-around;
  font-size:20px;
  font-family: "SF UI Display Ultralight";
  color: white;
  padding-top: 20px;
  margin-bottom: 10px;
  /height: 40px;/
  /padding-left: 10px;/
}
#logo{
    width: 50px;
    height: 40px;
    border-radius: 50px;
}

#img{
  position: relative;
}

.text{
  opacity: 0;
    padding-left: 50px;
}

.username{
  display: inline-block;
  color: white;
  font-family: "SF UI Display Ultralight";
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
}
.login{
  float: right;
  padding-right: 50px;
 }
.inside{
  display: inline;
  margin-top: 50px;
}
.icon2{
  width: 40px;
  height: 40px;
  padding-top:20px;
  padding-right: 10px;
  cursor: pointer;


}
.icon3{
  width: 40px;
  height: 40px;
  padding-top:20px;
  padding-right: 10px;
  cursor: pointer;


}
.hed{
  background-color: rgb(0, 0, 0, 0.6);
    height: 70px;
}
.yer{
  display: flex;

}
.regist{
    position: absolute;
    display: none;/flex/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    /padding-top: 20px;/
    opacity: 0;
   
}

.regist-content{
  background-color: black;
    height: 330px;
    width: 280px;
    position: relative;
    padding-top: 50px;
    padding: 20px;
    text-align: center;
}
input{
  display: block;
    margin: 20px auto;
    width: 50%;
    padding: 8px;
}
.photo{
  height: 330px;
  background-color: black;
  display: inline-block;
  opacity: 50%;
}
.imgreg{
  width: 30%;
  padding-top: 50px;
}
.x{
   position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
}
#exit{
  display: none;
}
.countdownContainer{
      position: absolute;
      top: 120%;
      left: 50%;
      right: 50%;
      transform : translateX(-50%) translateY(-50%);
      text-align: center;
      border: 10px solid #999;
      padding: 80px;
      box-shadow: 0 0 5px 3px #ccc;
      height: 300px;
      width: 700px;
      background-image: url(sale.jpg);
    }
 
.info {
      font-size: 50px;
      right: 70%;
    }
table, td {
  border: 2px solid black;
}
#home, #products, #latest_version, #contact_us{ 
  cursor: pointer;
 }
.tabletable{
  padding-top: 350px;
}

.sale{
  width: 800px;
  height: 600px;
  background: beige; 
}
.latest_version{
  padding-top: 500;
}

.contact {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}
.contact form {
    background-color: rgba(250,250,250,0.1);
    padding: 30px;
    width: 100%;
}


.contact form input {
    width: 100%;
    height: 40px;
    background-color: rgba(250,250,250,0.1);
    border-radius: 0px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.contact form textarea {
    width: 100%;
    height: 220px;
    
    background-color: rgba(250,250,250,0.1);
    border-radius: 0px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.contact form input:focus,
.contact form textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
    color: #fff;
    background-color: rgba(250,250,250,0.1);
}

.contact form::placeholder { color: #fff }
.contact form input::placeholder { color: #fff; }
.contact form input::placeholder { color: #fff; }

.contact form::placeholder { color: #fff }
.contact form textarea::placeholder { color: #fff; }
.contact form textarea::placeholder { color: #fff; }

.contact form button {
    background-color: #f5a425;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    box-shadow: none;
    border: none;
}